body{
    height: 100px;
}

#caja{
    width: 1fr;
    height: 15px;
    border: 7px solid rgb(190, 190, 190);
    margin-top: 5px;
    border-radius: 7px;
    position: relative;
}

#barra{
    border-radius: 2px;
    width: 100%;
    height: 100%;
    background-color: rgb(187, 16, 16);
    position: absolute;
    z-index: 2;
}

#inferior{
    border-radius: 2px;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 5, 5);
    position: absolute;
    z-index: 1;
}

p {
    margin-top: -17px;
    margin-left: 23px;
    font-size: 100px;
    text-shadow:
                -2px -2px 0 #ffffff,
                2px -2px 0 #ffffff,
                -2px 2px 0 #ffffff,
                2px 2px 0 #ffffff,
                -3px 0px 0 #ffffff,
                3px 0px 0 #ffffff,
                0px -3px 0 #ffffff,
                0px 3px 0 #ffffff;
}